# Android Studio Files
*.iml
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/libraries

# Local configuration files
/local.properties

# Java class files
*.class

# Gradle
.gradle
/build

# Max OS X
.DS_Store

# Windows
Thumbs.db

# Miscellaneous
/captures
.externalNativeBuild
