<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="todo.spielesammlungprototyp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_game_dark"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Parentactivity Hub -->
        <activity android:name="._Hub">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Childactivity Brettspiele -->
        <activity android:name=".Brettspiele"
            android:label="@string/brettspiele"
            android:parentActivityName="todo.spielesammlungprototyp._Hub"
            android:windowSoftInputMode="stateVisible" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="todo.spielesammlungprototyp._Hub" />
        </activity>

        <!-- Childactivity Kartenspiele -->
        <activity android:name=".Kartenspiele"
            android:label="@string/kartenspiele"
            android:parentActivityName="todo.spielesammlungprototyp._Hub" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="todo.spielesammlungprototyp._Hub" />
        </activity>

        <!-- BauernKrieg -->
        <!-- Childactivity BauernKriegMenu von Kartenspiele -->
        <activity android:name=".Bauernkrieg.BauernkriegMenu"
            android:label="@string/bauernkrieg"
            android:parentActivityName="todo.spielesammlungprototyp.Kartenspiele" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="todo.spielesammlungprototyp.Kartenspiele" />
        </activity>
        <!-- Childactivity BauernKriegGame von BauernKriegMenu -->
        <activity android:name=".Bauernkrieg.Bauernkrieg"
            android:label="@string/bauernkrieg"
            android:parentActivityName="todo.spielesammlungprototyp.Bauernkrieg.BauernkriegMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="todo.spielesammlungprototyp.Bauernkrieg.BauernkriegMenu" />
        </activity>
        <!-- MauMau -->
        <!-- Childactivity MauMauMenu von Kartenspiele -->
        <activity android:name=".MauMau.MauMauMenu"
            android:label="@string/maumau"
            android:parentActivityName="todo.spielesammlungprototyp.Kartenspiele">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="todo.spielesammlungprototyp.Kartenspiele" />
        </activity>
        <!-- Childactivity MauMau von MauMauMenu -->
        <activity android:name=".MauMau.MauMau"
            android:label="@string/maumau"
            android:parentActivityName="todo.spielesammlungprototyp.MauMau.MauMauMenu"
            android:screenOrientation="landscape">>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="todo.spielesammlungprototyp.MauMau.MauMauMenu" />
        </activity>
        <!-- Childactivity Schafkopf von Kartenspiele -->
        <activity android:name=".offschafkopf.schafkopf"
            android:label="@string/schafkopf"
            android:parentActivityName="todo.spielesammlungprototyp.Kartenspiele"
            android:screenOrientation="landscape">>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="todo.spielesammlungprototyp.Kartenspiele" />
        </activity>









    </application>

    <!-- durch Definiton von Parent und Child ist der "Zurückknopf" oben links in der App möglich -->

</manifest>