<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="todo.spielesammlungprototyp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_game_dark"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        //Parentactivity
        <activity android:name="._Hub">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        //Childactivity
        <activity android:name=".Brettspiele"
            android:label="@string/brettspiele"
            android:parentActivityName="todo.spielesammlungprototyp._Hub" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="todo.spielesammlungprototyp._Hub" />
        </activity>
        <activity android:name=".Kartenspiele"
            android:label="@string/kartenspiele"
            android:parentActivityName="todo.spielesammlungprototyp._Hub" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="todo.spielesammlungprototyp._Hub" />
        </activity>
    </application>

    //Durch Definiton von Parent und Child ist der "Zurückknopf" oben links in der App möglich

</manifest>