<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="todo.spielesammlungprototyp">

    <!-- durch Definiton von Parent und Child ist der "Zurückknopf" oben links in der App möglich -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Parentactivity Hub -->
        <activity android:name="._Hub">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Childactivity Brettspiele -->
        <activity
            android:name=".Brettspiele"
            android:label="@string/brettspiele"
            android:parentActivityName=".Brettspiele_Auswahl"
            android:windowSoftInputMode="stateVisible">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Brettspiele_Auswahl"/>
        </activity>
        <activity
            android:name=".Brettspiele_Auswahl"
            android:label="@string/brettspiele"
            android:parentActivityName="._Hub">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="._Hub" />
        </activity>
        <activity android:name=".ChessActivity"
            android:label="Schach"
            android:parentActivityName=".Brettspiele_Auswahl">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Brettspiele_Auswahl" />
        </activity>

        <!-- Childactivity Bauernkrieg -->
        <activity
            android:name=".Bauernkrieg"
            android:label="@string/bauernkrieg"
            android:parentActivityName=".Kartenspiele_Auswahl">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Kartenspiele_Auswahl" />
        </activity>
        <activity android:name=".Kartenspiele_Auswahl"
            android:label="@string/kartenspiele"
            android:parentActivityName="._Hub">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="todo.spielesammlungprototyp._Hub" />
        </activity>
    </application>

</manifest>